<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tourkakao.carping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Login.KaKaoInitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Post.PostReviewWriteActivity"></activity>
        <activity android:name=".Post.PostReviewActivity" />
        <activity android:name=".Post.PremiumPostActivity" />
        <activity android:name=".Post.PostCategoryActivity" />
        <activity android:name=".Post.PostTotalActivity" />
        <activity android:name=".Post.PostSearchActivity" />
        <activity android:name=".Post.PostDetailActivity" />
        <activity android:name=".Post.PostSettingActivity" />
        <activity android:name=".Post.PostWriteActivity" />
        <activity android:name=".Post.PostRegisterActivity3" />
        <activity android:name=".Post.PostRegisterActivity2" />
        <activity android:name=".Post.PostRegisterActivity" />
        <activity android:name=".Mypage.PhoneCertificationActivity" />
        <activity android:name=".Mypage.PersonalInformationActivity" />
        <activity android:name=".Mypage.ProfileEditActivity" />
        <activity android:name=".MypageMainActivities.Activity.MypageEcoReviewActivity" />
        <activity android:name=".MypageMainActivities.Activity.MypageFreeSharingActivity" />
        <activity android:name=".MypageMainActivities.Activity.MypageCarpingActivity" />
        <activity android:name=".MypageMainActivities.Activity.MypagePostActivity" />
        <activity android:name=".newcarping.Activity.Fix_newcarpingActivity" />
        <activity android:name=".Map.Activity.MapSearchActivity"></activity>
        <activity android:name=".sharedetail.Activity.ShareTotalActivity" />
        <activity android:name=".registernewshare.Activity.LocateSelectActivity" />
        <activity android:name=".sharedetail.Activity.ShareDetailActivity" />
        <activity android:name=".registernewshare.Activity.Register_ShareActivity" />
        <activity android:name=".newcarping.Activity.Fix_newcarpingActivity" />
        <activity android:name=".theme.Activity.ThemeDetailActivity" />
        <activity android:name=".newcarping.Activity.Fix_newcarping_reviewActivity" />
        <activity android:name=".EcoCarping.Activity.EcoCarpingEditActivity" />
        <activity android:name=".EcoCarping.Activity.TagPageActivity" />
        <activity android:name=".registernewcarping.Activity.TagsActivity" />
        <activity android:name=".registernewcarping.Activity.SearchNewCarpingActivity" />
        <activity android:name=".registernewcarping.Activity.RegisterActivity" />
        <activity android:name=".newcarping.Activity.Write_newcarping_reviewActivity" />
        <activity android:name=".newcarping.Activity.Each_NewCarpingActivity" />
        <activity android:name=".thisweekend.Activity.Each_ThisWeekendActivity" />
        <activity android:name=".thisweekend.Activity.ThisWeekend_totalActivity" />
        <activity android:name=".EcoCarping.Activity.LocationSearchActivity" />
        <activity android:name=".EcoCarping.Activity.EcoCarpingDetailActivity" />
        <activity android:name=".EcoCarping.Activity.EcoCarpingWriteActivity" />
        <activity android:name=".EcoCarping.Activity.EcoCarpingListActivity" />
        <activity android:name=".theme.Activity.ThemeActivity" />
        <activity android:name=".Home.MainActivity" />
        <activity android:name=".Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 인가 코드 받기 위한 Redirect URI 설정 -->
                <data
                    android:host="oauth"
                    android:scheme="kakao{KAKAO_API_KEY}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="KAKAO_API_KEY" />
    </application>

</manifest>